@charset "UTF-8";

/**
 * Разработка велась под EvolutionCMS
 * С дефолтных настроек всё работает
 * Для отображения шрифта в контенте и в редакторе
 * нужно разработать и подключить стили для этого. Для каждого данного случая должен быть отдельный файл.
 * Для редактора стили подключаются в конфигурации сайта.
 * Для сайта подключаются в шаблонах сайта в блоке head.
 */

@fontpath: "/assets/fonts";
@fontsize: 16px;
@emojisize: 21px;
@import "../../node_modules/noto-color-emoji/src/less/noto-color-emoji.less";

body,
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif, "Noto Color Emoji";
}

.mce-container,
.mce-container *,
.mce-widget,
.mce-widget *,
.mce-reset {
	
}

.mce {
	&-container,
	&-widget,
	&-reset {
		&,
		* {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Noto Color Emoji" !important;
		}
	}
	&-container {
		&-body {
			.mce {
				&-top {
					&-part {
						top: 0;
						position: sticky;
						background-color: #ffffff;
					}
				}
			}
		}
	}
	&-ico {
		font-family: 'tinymce', Arial !important;
		&.mce {
			&-i {
				&-emoji {
					font-family: "Noto Color Emoji" !important;
					width: auto !important;
					height: auto !important;
					&.emoji {
						&-smiles::before {
							content: "😀";
						}
						&-emotics::before {
							content: "💯";
						}
						&-people::before {
							content: "🧒";
						}
						&-animals::before {
							content: "🐵";
						}
						&-nature::before {
							content: "💐";
						}
						&-food::before {
							content: "🍅";
						}
						&-travel::before {
							content: "🌍";
						}
						&-activy::before {
							content: "🎄";
						}
						&-objects::before {
							content: "🎹";
						}
						&-symbols::before {
							content: "🔆";
						}
						&-flags::before {
							content: "🇷🇺";
						}
					}
				}
			}
		}
	}
	&-panel {
		& {
			.mce-foot {
				.mce-btn {
					&,
					&:focus {
						border-color: transparent !important;
					}
				}
				button {
					font-style: italic;
					color: #a3a3a3;
					&:hover,
					&:focus {
						color: #000000;
					}
				}
			}
		}
	}
	&-tab {
		&:last-child {
			border-right-color: transparent;
		}
	}
	&-tooltip {
		&-inner {
			white-space: pre-wrap !important;
		}
	}
	&-notocoloremoji {
		&-tinymce4 {
			padding: 8px;
			&,
			a {
				&,
				em {
					font-size: 11px;
				}
			}
		}
	}
}

.wrapper-emojis {
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 2px;
	padding-right: 2px;
}

.table-emoji {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 8px 1.5%;
	user-select: none;
	[data-mce-emoji] {
		align-content: center;
		align-items: center;
		cursor: pointer;
		aspect-ratio: 1 / 1 !important;
		display: flex;
		font-family: "Noto Color Emoji" !important;
		font-size: @fontsize !important;
		justify-content: center;
		justify-items: center;
		//height: @emojisize !important;
		line-height: 1 !important;
		overflow: hidden;
		//width: @emojisize !important;
		&:hover {
			outline-width: 1px !important;
			outline-color: #007bff !important;
			outline-style: solid !important;
			outline-offset: 1px;
		}
	}
}

// CodeMirror
.CodeMirror pre {
	font-family: monospace, Consolas, "Courier New", Courier, "Noto Color Emoji" !important;
}
