@charset "UTF-8";

/**
 * Разработка велась под EvolutionCMS
 * С дефолтных настроек всё работает
 * Для отображения шрифта в контенте и в редакторе
 * нужно разработать и подключить стили для этого. Для каждого данного случая должен быть отдельный файл.
 * Для редактора стили подключаются в конфигурации сайта.
 * Для сайта подключаются в шаблонах сайта в блоке head.
 */

@fontpath: "/assets/fonts";
@fontsize: 16px;
@emojisize: 21px;
@import "../../node_modules/noto-color-emoji/src/less/noto-color-emoji.less";

body,
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif, "Noto Color Emoji";
}

.mce-container,
.mce-container *,
.mce-widget,
.mce-widget *,
.mce-reset {
	
}

.mce {
	&-container,
	&-widget,
	&-reset {
		&,
		* {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Noto Color Emoji" !important;
		}
	}
	&-ico {
		font-family: 'tinymce', Arial !important;
		&.mce {
			&-i {
				&-emoji {
					font-family: "Noto Color Emoji" !important;
					width: auto !important;
					height: auto !important;
					&.emoji {
						&-smiles::before {
							content: "😀";
						}
						&-emotics::before {
							content: "💯";
						}
						&-people::before {
							content: "🧒";
						}
						&-animals::before {
							content: "🐵";
						}
						&-nature::before {
							content: "💐";
						}
						&-food::before {
							content: "🍅";
						}
						&-travel::before {
							content: "🌍";
						}
						&-activy::before {
							content: "🎄";
						}
						&-objects::before {
							content: "🎹";
						}
						&-symbols::before {
							content: "🔆";
						}
						&-flags::before {
							content: "🇷🇺";
						}
					}
				}
			}
		}
	}
	&-tab {
		&::first-letter {
			text-transform: uppercase;
		}
		&:last-child {
			//border-right-color: transparent;
		}
	}
	&-tooltip {
		&-inner {
			white-space: pre-wrap !important;
		}
	}
	&-notocoloremoji {
		&-tinymce4 {
			padding: 8px;
			&,
			a {
				&,
				em {
					font-size: 11px;
				}
			}
			&-link {
				&,
				&:focus {
					border-color: transparent !important;
				}
				button {
					font-style: italic;
					//color: #a3a3a3;
					&:hover,
					&:focus {
						//color: #000000;
					}
				}
			}
		}
	}
	&-notocoloremoji-dialog {
		> .mce-reset {
			> .mce-window-body {
				//z-index: 5;
			}
		}
		.mce-container-body,
		.mce-label {
			overflow: visible;
		}
	}
}

.wrapper-emojis {
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 2px;
	padding-right: 2px;
}

.table-emoji {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 8px 1.5%;
	user-select: none;
	&-columns,
	&-rows {
		display: flex;
		gap: 9px;
		flex-wrap: nowrap;
	}
	&-columns {
		flex-direction: column;
	}
	&-rows {
		flex-direction: row;
	}
	[data-mce-emoji] {
		background-color: #ffffff;
		align-content: center;
		align-items: center;
		cursor: pointer;
		aspect-ratio: 1 / 1 !important;
		display: flex;
		font-family: "Noto Color Emoji" !important;
		font-size: @fontsize !important;
		justify-content: center;
		justify-items: center;
		line-height: 1 !important;
		overflow: hidden;
		outline-width: 0px !important;
		outline-color: transparent !important;
		outline-style: solid !important;
		outline-offset: 0px;
		transition: transform .3s ease;
		transform: scale(1);
		transform-origin: 50% 50%;
		position: relative;
		z-index: 0;
		&:hover {
			background-color: #eeeeee;
			outline-width: 1px !important;
			outline-color: #007bff !important;
			outline-style: solid !important;
			outline-offset: -1px;
			transform: scale(1.5);
			z-index: 10;
		}
	}
}

// CodeMirror
.CodeMirror pre {
	font-family: monospace, Consolas, "Courier New", Courier, "Noto Color Emoji" !important;
}
.darkness {
	.table-emoji {
		[data-mce-emoji] {
			background-color: #202329;
			&:hover {
				background-color: #444444;
			}
		}
	}
	.mce {
		&-tab {
			&.mce-active,
			&:focus {
				color: #eeeeee;
			}
		}
		&-container {
			&-body {
				.mce {
					&-top {
						&-part {
							background-color: #202329;
						}
					}
				}
			}
		}
		&-menubar {
			border-color: #495057;
			.mce-menubtn {
				button {
					span {
						color: #aaa;
					}
				}
				&.mce-active,
				&:focus,
				&:hover {
					background-color: #343942;
					border-color: #495057;
					button {
						span {
							color: #fff;
						}
					}
				}
			}
		}
		&-splitbtn {
			&.mce-opened {
				border-color: #414449;
			}
		}
		&-panel {
			&.mce-menu {
				&.mce-in {
					background-color: #343942;
					box-shadow: 0 1.8rem 3rem rgba(0, 0, 0, 0.4)
				}
			}
		}
		&-menu {
			&-item {
				.mce-ico,
				.mce-text {
					color: #bbb;
				}
				&.mce-disabled {
					&,
					&:hover,
					&:focus {
						background: #343942;
						.mce-ico,
						.mce-text {
							color: #676767;
						}
					}
				}
			}
		}
		&-grid {
			&-border {
				a {
					&:hover,
					&.mce-active {
						border-color: #ffffff;
						background: #555c66;
					}
				}
			}
		}
	}
}
.light {
	.mce {
		&-container {
			&-body {
				.mce {
					&-top {
						&-part {
							background-color: #ffffff;
						}
					}
				}
			}
		}
	}
}